@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.white-stroke {
  filter: invert(100%) sepia(0%) saturate(7459%) hue-rotate(142deg)
    brightness(116%) contrast(109%);
}

@media (prefers-color-scheme: dark) {
  body {
    --tw-bg-opacity: 1;
    background-color: rgb(17 24 39 / var(--tw-bg-opacity));
  }
}